########################################
# APP
########################################

VITE_APP_NAME=
VITE_ENV=

########################################
# API
########################################

VITE_API_URL=

########################################
# WEBSOCKET
########################################

VITE_WS_URL=

########################################
# MAPS
########################################

VITE_MAP_PROVIDER=

########################################
# LIVEKIT
########################################

VITE_LIVEKIT_URL=

########################################
# AI
########################################

VITE_AI_ENABLED=